.ssEditorAside {
  top: calc(var(--app-shell-header-offset, 0rem) + 64px);
  height: calc(100dvh - 128px - var(--app-shell-header-offset, 0rem) - var(--app-shell-footer-offset, 0rem));
  border-radius: 12px 0 0 12px;
  /* box-shadow:
    0px 36px 98px rgba(0, 0, 0, 0.07),
    0px 13px 36px rgba(0, 0, 0, 0.05),
    0px 6px 18px rgba(0, 0, 0, 0.0389404),
    0px 3px 8px rgba(0, 0, 0, 0.0310596),
    0px 2px 4px rgba(0, 0, 0, 0.02); */
    box-shadow: 1px 0px 10px 4px rgba(128,128,128,0.21);
}
