@font-face {
    font-family: Bravura;
    src: url("/src/assets/fonts/Bravura.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

#preload {
    font-family: Bravura;
    opacity:0;
    height:0;
    width:0;
    line-height: 1;
    /* display:inline-block */
}

#ss-container {
   width: 100%; 
   line-height: 0 
}

main {
    line-height: 0;
}
