.actionButton {
  color: var(--mantine-color-blue-9);
  background-color: var(--mantine-color-blue-1);
  &:hover {
    background-color: darken(var(--mantine-color-blue-1), 0.02);
    color: var(--mantine-color-blue-9);
  }

  &[data-active] {
    border: 1px solid var(--mantine-color-blue-9);
    border-width: 1.2px;
  }

  &[data-disabled] {
    color: #6e7a86;
    background: #d9e7f1;
  }
}
